/* body {
  background-color: black;
} */

.bg-black {
  background-color: black;
}

.text-black {
  color: black;
}

.border-black {
  border-color: black;
}

.red-glow-text {
  text-shadow: -8px 0 12px rgba(179,0,30,0.95), 8px 0 12px rgba(179,0,30,0.95);
}

.border-glow {
  box-shadow: -3px -10px 8px rgba(255,255,25,0.75), 3px -10px 8px rgba(255,255,25,0.75);
}

.border-glow-green {
  box-shadow: -3px -10px 8px rgba(43,255,0,0.75), 3px -10px 8px rgba(43,255,0,0.75);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
